<f:layout name="Default" />

<f:section name="main">

    <div class="row">

        <div class="small-12 medium-6 columns">
            <f:image src="{product.image.uid}"
                     treatIdAsReference="1"
                     title="{product.image.title}"
                     alt="{image.alternative}"
                     height="400"/>
        </div>

        <div class="small-12 medium-6 columns">
            <h1>{product.title}</h1>
            <h3>{product.subtitle}</h3>
            <f:format.html>{product.description}</f:format.html>

            <f:if condition="{product.availableRetail}">
                <strong>
                    <f:translate key="tx_products_domain_model_product.available" />:
                </strong>
                <f:if condition="{product.availableLink}">
                    <f:then>
                        <a href="{product.availableLink}" target="_blank" title="Link zu externer Produkteseite">
                            {product.availableRetail}
                        </a>
                    </f:then>
                    <f:else>
                        <span>
                            {product.availableRetail}
                        </span>
                    </f:else>
                </f:if>

            </f:if>

            <f:if condition="{product.inhaltsangaben}">
                <h3>
                    <f:translate key="tx_products_domain_model_product.inhaltsangaben" />
                </h3>
                <f:format.html>{product.serviervorschlag}</f:format.html>
            </f:if>

            <f:if condition="{product.inhaltsangaben}">
                <h3>
                    <f:translate key="tx_products_domain_model_product.serviervorschlag" />
                </h3>
                <f:format.html>{product.serviervorschlag}</f:format.html>
            </f:if>

        </div>

    </div>

</f:section>