
<table class="tx-bensan-products" >
	<tr>
		<td>
			<f:translate key="tx_products_domain_model_product.title" />
		</td>
		<td>
		{product.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_products_domain_model_product.subtitle" />
		</td>
		<td>
		{product.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_products_domain_model_product.description" />
		</td>
		<td>
		{product.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_products_domain_model_product.image" />
		</td>
		<td>
				<f:image src="{product.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_products_domain_model_product.gallery" />
		</td>
		<td>
				<f:image src="{product.gallery.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>